<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microcharts" version="0.8.2-pre" targetFramework="monoandroid80" />
  <package id="Microcharts.Forms" version="0.8.2-pre" targetFramework="monoandroid80" />
  <package id="Mvvmicro" version="0.10.0" targetFramework="monoandroid71" />
  <package id="SkiaSharp" version="1.59.1" targetFramework="monoandroid71" />
  <package id="SkiaSharp.Views" version="1.59.1.1" targetFramework="monoandroid80" />
  <package id="SkiaSharp.Views.Forms" version="1.59.1.1" targetFramework="monoandroid80" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="monoandroid80" />
</packages>